body {
  width: 400px;
}

/* ラベルのデフォルトスタイル */
.btn-check + .site-label {
  color: var(--site-color);
  border-color: var(--site-color);
}

/* チェックされたラベルのスタイル */
.btn-check:checked + .site-label {
  background-color: var(--site-background-color, var(--site-color));
  color: var(--site-text-color);
  border-color: var(--site-color);
}
